<%= form_with model: @food_inventories, url: inventory_food_inventories_path, local: true, data: { turbo: false } do |f| %>
    <div>
        <%= f.label :food %>
        <select>
            <option selected>Select Food</option>
            <% @foods.each do |j| %>
                <option value=<%= j.id %>><%= j.name %></option>
            <% end %>
        </select>
    </div>
    <div>
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>