<div class="inv-btn-container">
    <%= link_to new_inventory_url do %>
        <button type="button" class="btn btn-primary">Add inventory</button>
    <% end %>
</div>
<div>
    <% if @inventories.length == 0 %>
        <div class="no-ivent">
            <p>No inventories</p>
        </div>
    <% else %>
        <div class="inv-list-container">
            <% @inventories.each do |inventory| %>
                <div class="inv-list-item">
                    <div class="inv-item-actitle">
                        <div>
                            <%= link_to inventory_path(inventory.id) do %>
                                <span><%= inventory.name %></span>
                            <% end %>
                        </div>
                        <div>
                            <%= button_to 'Remove', inventory_path(inventory.id), method: :delete %>
                        </div>
                    </div>
                    <div class="inv-item-description">
                        <%= link_to inventory_path(inventory.id) do %>
                            <p><%= inventory.description %></p>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>