<%= form_with model: @inventory, method: :post, local: true, data: { turbo: false } do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>