<main>
  <h2>Add Ingredient</h2>
  <%= form_with model: @ingredient, url: [@recipe, @ingredient] do |f| %>
    <div>
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity, in: 1..100, step: 1, value: 1 %>
    </div>
    <div>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :measurement_unit %><br>
      <%= f.text_field :measurement_unit, size: "80x6", placeholder: "ex: Kg/litre" %>
    </div>

    <div>
      <%= f.label :price %><br>
      <%= f.number_field :price, step: 0.5 %>
    </div>

    <%= f.submit %>
  <% end %>

</main>